<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Untitled Custom SSG</title>
</head>
<body>
  <h1>Header: {{ .Header }} </h1>
  <br />
  {{ with .Paragraphs }}
    {{ range . }}
      <p>{{ .Data }}</p>
    {{ end }}
  {{ end }}
</body>
</html>
